.project-filter {
    margin: 30px auto;
}

.project-filter nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.project-filter p {
    font-size: 0.9em;
    margin-right: 10px;
}

.project-filter button {
    background: transparent;
    padding: 2px 4px;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 0.8em;
}



.project-filter button.active {
    color: var(--primary-color);
}


.filter-label {
    display: flex;
    margin: 20px auto;
    max-width: 380px;
    height: 40px;
}

.filter-label span {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--heading-color);
}